<div class="col-md-12">
    <div class="box box-default g-rounded-10">
        <div class="box-header">
            Visitors Information
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <header>Browser Information</header>
                    <div id="morris-donut-browser" class="height-6" data-colors="#9C27B0,#2196F3,#0aa89e,#FF9800"></div>
                </div>
                <div class="col-md-4">
                    <header>Devices</header>
                    <div id="morris-donut-device" class="height-6" data-colors="#9C27B0,#2196F3,#0aa89e,#FF9800"></div>
                </div>
                <div class="col-md-4">
                    <header>Countries</header>
                    <div id="morris-donut-country" class="height-6" data-colors="#9C27B0,#2196F3,#0aa89e,#FF9800"></div>
                </div>

            </div>

        </div><!--end .card-body -->
    </div>
</div>