@page
@using SlickyCommonLibrary.DomainUI;
@using SlickyCommonLibrary.Enums;

@model SchemaBuilder.Pages.Customer.CustomerInfoModel
@{
    ViewBag.title = "customer";
}

<section class="container-fluid container-mw-xxl chapter">
    <div class="section-header">
        <ol class="breadcrumb">
            <li>Schema </li>
            <li class="">Integration</li>
        </ol>
    </div>

    <div class="section-body contain-lg">

        <div class="form" role="form">
            <div class="row">
                <div class="col-md-9">
                    <div class="box box-default users_read">
                        <div class="box-header style-standard">
                            Website Url:
                        </div>
                        <div class="box-body style-default-bright form">
                            <input id="website" type="text" class="form-control rounded-right" />
                            <div class="d-flex-center-h-start">
                                <div class="d-flex-grow">
                                </div>
                                <button class="ml-3 ant-btn btn-cta btn-primary btn-spinner" onclick="requestInfo();" id="requestInoBtn">Get Info</button>
                            </div>
                        </div>
                    </div>
                    <div class="box box-default users_read" id="customerInfoContainer" style="display:none;">
                        <div class="box-header style-standard">
                            Customer Info
                        </div>
                        <div class="box-body style-default-bright form">
                            <div class="container" id="customerInfo" style="display:none;">
                                <ul class="nav nav-tabs" id="myTabs">
                                    <li class="nav-item">
                                        <a class="nav-link active show" data-toggle="tab" href="#customerInformation">Customer information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#person">Person</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#services">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#associatedBusiness">Associated business</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#socialMedia">Social media</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#pages">Pages</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="customerInformation" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="g-color-text g-font-size-13">Business name</label>
                                                    <input onchange="customerInfo.businessName = $(this).val()" class="form-control g-brd-gray-light-v4 g-brd-primary--focus g-color-text rounded g-py-13 g-px-15" type="text" id="businessName" placeholder="Business Name">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="g-color-text g-font-size-13">Address</label>
                                                    <input onchange="customerInfo.address = $(this).val()" class="form-control g-brd-gray-light-v4 g-brd-primary--focus g-color-text rounded g-py-13 g-px-15" type="text" id="address" placeholder="Address">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="g-color-text g-font-size-13">Website</label>
                                                    <input class="form-control g-brd-gray-light-v4 g-brd-primary--focus g-color-text rounded g-py-13 g-px-15" type="text" id="websiteInfo" placeholder="Website" disabled>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="g-color-text g-font-size-13">Owner name</label>
                                                    <input onchange="customerInfo.ownerName = $(this).val()" class="form-control g-brd-gray-light-v4 g-brd-primary--focus g-color-text rounded g-py-13 g-px-15" type="text" id="ownerName" placeholder="Owner name">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="g-color-text g-font-size-13">Phone</label>
                                                    <input onchange="customerInfo.phone = $(this).val()" class="form-control g-brd-gray-light-v4 g-brd-primary--focus g-color-text rounded g-py-13 g-px-15" type="text" id="phone" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="g-color-text g-font-size-13">Business category id</label>
                                                    <input onchange="customerInfo.businessCategoryId = $(this).val()" class="form-control g-brd-gray-light-v4 g-brd-primary--focus g-color-text rounded g-py-13 g-px-15" type="text" id="businessCategoryId" placeholder="Business category id">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="g-color-text g-font-size-13">Business category name</label>
                                                    <input onchange="customerInfo.businessCategoryName = $(this).val()" class="form-control g-brd-gray-light-v4 g-brd-primary--focus g-color-text rounded g-py-13 g-px-15" type="text" id="businessCategoryName" placeholder="Business category name">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="g-color-text g-font-size-13">Content richness</label>
                                                    <input onchange="customerInfo.contentRichness = $(this).val()" class="form-control g-brd-gray-light-v4 g-brd-primary--focus g-color-text rounded g-py-13 g-px-15" type="text" id="contentRichness" placeholder="Content richness">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="g-color-text g-font-size-13">Product detected range</label>
                                                    <input onchange="customerInfo.productDetectedRange = $(this).val()" class="form-control g-brd-gray-light-v4 g-brd-primary--focus g-color-text rounded g-py-13 g-px-15" type="text" id="productDetectedRange" placeholder="Product detected range">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="person" role="tabpanel">
                                        <div id="placeholder_Person"></div>
                                    </div>
                                    <div class="tab-pane fade" id="services" role="tabpanel">
                                        <div id="placeholder_Service"></div>
                                    </div>
                                    <div class="tab-pane fade" id="associatedBusiness" role="tabpanel">
                                        <div id="placeholder_Business"></div>
                                    </div>
                                    <div class="tab-pane fade" id="socialMedia" role="tabpanel">
                                        <div id="placeholder_SocialMedia"></div>
                                    </div>
                                    <div class="tab-pane fade" id="pages" role="tabpanel">
                                        <div id="placeholder_Page"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="container" id="notProceesed" style="display:none;">
                                <h5 id="notProceesedMessage"></h5>
                            </div>
                        </div>



                    </div>


                    <div class="box box-default users_read" id="customerDataContainer">
                        <div class="box-header style-standard">
                            Customer Data
                        </div>
                        <div class="box-body style-default-bright form">
                            <a id="customerDataLink" href="CustomerData">View Customer Data</a>
                        </div>



                    </div>
                </div>
                <div class="col-md-3 requestStatusComp">
                    <div class="box box-default users_read">
                        <div class="box-body style-default-bright form">
                            <div class="row g-pb-20" id="submitContainer" style="display: none;">
                                <div class="col-md-12">
                                    <button type="button" class="ant-btn btn-cta btn-primary btn-spinner clients_write btn-block" onclick="validateInfo();" id="validateInfoBtn">Validate Informations</button>
                                    <button type="button" class="ant-btn btn-cta btn-primary btn-spinner clients_write btn-block" onclick="updateInfo();" id="validateInfoBtn">Update Informations</button>
                                </div>
                            </div>
                            <div class="row g-pb-10">
                                <div class="col-md-8">
                                    <div class="products_execute link-normal">
                                        Status
                                    </div>
                                </div>
                            </div>
                            <div class="row g-pb-20">
                                <div class="col-md-12">
                                    <span id="requestStatus"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/js/libs/jquery-ui/jquery-ui.min.js"></script>

}

@section DemoScripts
{
    <script>

        var customerInfo = {};
        var customerInfoId;
        var requestDataResult;

        var PeopleFields = [
            { title: 'Name', type: 'text', name: 'name' },
            { title: 'Position', type: 'text', name: 'position' },
            { title: 'Address', type: 'text', name: 'address' },
            { title: 'Title', type: 'text', name: 'title' },
            { title: 'Phone', type: 'text', name: 'phone' },
        ];

        var ServiceFields = [
            { title: 'Name', type: 'text', name: 'name' },
            { title: 'Price', type: 'text', name: 'price' },
            { title: 'Description', type: 'text', name: 'description', largText: true },
        ];

        var BusinessFields = [
            { title: 'Name', type: 'text', name: 'name' },
            { title: 'Price', type: 'text', name: 'price' },
            { title: 'Description', type: 'text', name: 'description' },
        ];

        var SocialMediaFields = [
            { title: 'Name', type: 'text', name: 'name' },
            { title: 'Address', type: 'text', name: 'address' },
        ];

        var PageFields = [
            { title: 'Name', type: 'text', name: 'name' },
            { title: 'Category', type: 'text', name: 'category', noTitle: true, disabled: true },
            { title: 'Group name', type: 'text', name: 'groupName' },
            { title: 'Url', type: 'text', name: 'url', noTitle: true },
            { title: 'Description', type: 'text', name: 'description', largText: true },
        ];

        (async () => {
            loadCustomerData();
        })();

        async function loadCustomerData(categoryId) {
            customerInfoId = getId();
            if (customerInfoId != '') {
                var customerInfoPromis = getPromiseData("CustomerInfo", "id=" + customerInfoId);
                await loadPromise(customerInfoPromis, "customerInfo");
                customerInfo = customerInfo[0];
            }
            else {
                customerInfo.id = e7();
            }
            refreshContent()
            populateSubTable('customerInfo.peopleDetected', 'Person', "PeopleFields");
            populateSubTable('customerInfo.serviceDetected', 'Service', "ServiceFields");
            populateSubTable('customerInfo.associatedBusinessDetected', 'Business', "BusinessFields");
            populateSubTable('customerInfo.socialMedia', 'SocialMedia', "SocialMediaFields");
            populateSubTable('customerInfo.pages', 'Page', "PageFields");
        }

        function refreshContent() {
            showCorrespondingBlocs();
            showStatus();
            showGlobalInfo();
        }

        function showCorrespondingBlocs() {
            if (customerInfo.status == null || customerInfo.status == undefined) {
                $('#customerInfoContainer').hide();
                $('#submitContainer').hide();
                $('.requestStatusComp').hide();
            } else {
                $('#customerInfoContainer').show();
                $('#website').val(customerInfo.website);
                $('#website').attr('disabled', true);
                $('#requestInoBtn').hide();
                $('.requestStatusComp').show();
            }

            if (customerInfo.status == customerProcessingStatus.notProcessed) {
                $('#notProceesed').show();
                $('#customerInfo').hide();
                $('#submitContainer').hide();
                $('#notProceesedMessage').text('Your request is being processed this make take sometime, you will receive an email once it is ready')

                $('#validateInfoBtn').hide();
                $('#customerDataContainer').hide();
            }
            else if (customerInfo.status == customerProcessingStatus.processed || customerInfo.status == customerProcessingStatus.emailed) {
                $('#notProceesed').hide();
                $('#customerInfo').show();
                $('#submitContainer').show();
                $('#notProceesedMessage').text('Your request is still waiting in the quee')
                $('#validateInfoBtn').show();
                $('#customerDataContainer').hide();
            }
            else if (customerInfo.status == customerProcessingStatus.validated) {
                $('#notProceesed').hide();
                $('#customerInfo').show();
                $('#submitContainer').show();
                $('#notProceesedMessage').text('Your request is still waiting in the quee')
                $('#validateInfoBtn').hide();
                $('#customerDataContainer').show();
                $('#customerDataLink').attr('href', 'customerData?id=' + customerInfoId);
            }
        }

        function isValidURL(url) {
            var urlPattern = /^(https?|ftp):\/\/[^\s/$.?#].[^\s]*$/;
            return urlPattern.test(url);
        }

        function showStatus() {
            var color = '';
            switch (customerInfo.status) {
                case 0: // Pending
                    color = 'orange';
                    break;
                case 1: // Processed
                    color = 'green';
                    break;
                case 2: // Emailed
                    color = 'blue';
                    break;
                case 3: // Validated
                    color = 'purple';
                    break;
                case 4: // Rejected
                    color = 'red';
                    break;
                default:
                    color = 'black';
                    break;
            }
            $('#requestStatus').html(`<span style="background: ${color};padding: 2px 9px;border-radius: 12px;border: solid thin #33333322;color: white;">${processingStatusDesc[customerInfo.status]}</span>`);
        }

        function showGlobalInfo() {
            $('#address').val(customerInfo.address)
            $('#businessCategoryId').val(customerInfo.businessCategoryId)
            $('#businessCategoryName').val(customerInfo.businessCategoryName)
            $('#businessName').val(customerInfo.businessName)
            $('#contentRichness').val(customerInfo.contentRichness)
            $('#ownerName').val(customerInfo.ownerName)
            $('#phone').val(customerInfo.phone)
            $('#productDetectedRange').val(customerInfo.productDetectedRange)
            $('#websiteInfo').val(customerInfo.website)
        }


        function requestInfo() {
            var url = $('#website').val();
            if (!isValidURL(url)) {
                toastr.error('The provided url is not valid');
                unloadSpinnerEffect();
                return;
            }
            customerInfo = {
                id: e7(),
                status: customerProcessingStatus.notProcessed,
                website: url
            }
            genericSave(customerInfo, "CustomerInfo", [], requestInfoSuccess)
        }

        function requestInfoSuccess(url) {
            toastr.success("Your request is added successfly in the quee, we will let you know once it is ready");
            var newUrl = '?id=' + customerInfo.id;
            window.history.pushState({ path: newUrl }, '', newUrl)
            refreshContent();
        }

        function validateInfo() {
            customerInfo.status = customerProcessingStatus.validated;
            MODE = 'EDIT'
            genericSave(customerInfo, "CustomerInfo", [], validateInfoSuccess)
        }

        async function validateInfoSuccess(url) {
            toastr.success("Your request is validated successfly and added to the next quee, we will let you know once the data is ready");
            refreshContent();
            await generateCustomerDataRequest(url);
        }

        function updateInfo() {
            MODE = 'EDIT'
            genericSave(customerInfo, "CustomerInfo", [], updateInfoSuccess)
        }

        async function updateInfoSuccess(url) {
            toastr.success("Your data has been updated successfully");
        }

        async function generateCustomerDataRequest(url) {
            var customerDataPromis = getPromiseData("CustomerInfo/GenerateCustomerJson", "customerId=" + customerInfoId);
            await loadPromise(customerDataPromis, "requestDataResult");
        }

    </script>
}

@section css
{
    <link type="text/css" rel="stylesheet" href="~/lib/json-viwer/jquery.json-viewer.css" />
}